<!--start mobrise-->
<section id="menu-0">

  <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
    <div class="container">

      <div class="mbr-table">
        <div class="mbr-table-cell">

          <div class="navbar-brand">
            <a href="http://www.skypaso.com" class="navbar-logo"><img src="assets/logo.png" alt="Mobirise"></a>
            <a class="navbar-caption" href="http://www.skypaso.com">sky<span class="blue-text">paso</span></a>
          </div>

        </div>
        <div class="mbr-table-cell">

          <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <div class="hamburger-icon"></div>
          </button>

          <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
            <li class="nav-item dropdown open">
              <a class="nav-link link dropdown-toggle" data-toggle="dropdown-submenu" href="http://www.skypaso.com/" aria-expanded="true">FEATURES
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" ui-sref="explain">
                  How it Works
                </a>
                <a class="dropdown-item" href="http://www.skypaso.com/">
                  Services and Prices
                </a>
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle" data-toggle="dropdown-submenu" href="http://www.skypaso.com/">
                    Help
                  </a>
                  <div class="dropdown-menu dropdown-submenu">
                    <a class="dropdown-item" href="http://www.skypaso.com/">
                      FAQ
                    </a>
                    <a class="dropdown-item" href="http://www.skypaso.com/">
                      Facebook ChatBot (Beta)
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="http://www.skypaso.com/">LOGIN</a>
            </li>
            <li class="nav-item nav-btn">
              <a class="nav-link btn btn-white btn-white-outline" ui-sref="signup">
                JOIN
              </a>
            </li>
          </ul>
          <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <div class="close-icon"></div>
          </button>

        </div>
      </div>

    </div>
  </nav>

</section>

<section class="engine"><a rel="external" href="http://www.skypaso.com">skypaso.com</a></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow" id="header1-1" style="background-image: url(assets/jumbotron.jpg);">



  <div class="mbr-table-cell">

    <div class="container">
      <div class="row">
        <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

          <h1 class="mbr-section-title display-1">US Shipping Address</h1>
          <p class="mbr-section-lead lead">With this address you can buy anywhere in the world that ships to the USA and have items shipped to you.</p>
          <div class="mbr-section-btn">
            <a class="btn btn-lg btn-primary" ui-sref="features">READ MORE</a>
            <a class="btn btn-lg btn-white btn-white-outline" ui-sref="signup">JOIN</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#section-2"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section id="section-2">
  <div class="container" id="actionCalls">
    <div class="row">
      <div class="col-md-4">
        <div class="row-heading text-center">
          <div class="badge-header">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <h4 class="calls-title">JOIN</h4>
          <h5 class="calls-subtitle">Get you address</h5>

          <p>Register for an account and get your own personal address in the USA right away. No signup or setup fees.</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="row-heading text-center">
          <div class="badge-header">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <h4 class="calls-title">ACCEPT</h4>
          <h5 class="calls-subtitle">Accept packages at your address</h5>

          <p>Have packages delivered to your new addres. These may be from anywhere in the world that ships to the US.</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="row-heading text-center">
          <div class="badge-header">
            <span class="glyphicon glyphicon-cog"></span>
          </div>
          <h4 class="calls-title">RECIEVE</h4>
          <h5 class="calls-subtitle">Send to your permanent address</h5>

          <p>No matter where you are in the world we will send your package with a trusted service provider either as-is or consolidated for cost savings.</p>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="mbr-section article" id="msg-box3-g" style="background-color: rgb(242, 242, 242); padding-top: 120px; padding-bottom: 120px;">


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-xs-center">
        <h3 class="mbr-section-title display-2">TRUSTED SERVICES</h3>
        <div class="lead"><p>We use trusted players in e-commerce and shipping, and also offer global tracking and insurance for peace of mind when delivering your packages. Compare rates with our calculator before shipping packages.</p></div>
        <div><a class="btn btn-secondary" href="http://www.skypaso.com">SERVICES AND PRICING</a></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row shipping-logos">
      <div class="col-md-2">
        <img class="img-responsive center-block" src="assets/fedex-logo.svg" />
      </div>
      <div class="col-md-2">
        <img class="img-responsive center-bloc" src="assets/ups-ready-program-logo.png" />
      </div>

      <div class="col-md-2">
        <img class="img-responsive" src="assets/dhl-global-mail.gif" />
      </div>
      <div class="col-md-2">
        <img class="img-responsive" src="assets/usps-logo.svg"/>
      </div>
      <div class="col-md-2">
        <img class="img-responsive center-block" src="assets/tnt-logo.png"/>
      </div>
      <div class="col-md-2">
        <img class="img-responsive center-block" src="assets/apc-logo.png"/>
      </div>
    </div>
  </div>

</section>

<section class="mbr-section mbr-section-md-padding mbr-footer footer2" id="contacts2-h" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

  <div class="container">
    <div class="row">
      <div class="mbr-footer-content col-xs-12 col-md-3">
        <p><strong>Address</strong><br>
          Nogales AZ<br><br><br>
          <strong>Contacts</strong><br>
          Email: support@mobirise.com<br>
          Phone: +1 (0) 000 0000 001<br>
          Fax: +1 (0) 000 0000 002</p>
      </div>
      <div class="mbr-footer-content col-xs-12 col-md-3"><strong>Links</strong><ul><li><a class="text-white" href="http://www.skypaso.com/">Website builder</a></li><li><a class="text-white" href="http://www.skypaso.com/mobirise-free-win.zip">Download for Windows</a></li><li><a class="text-white" href="http://www.skypaso.com/mobirise-free-mac.zip">Download for Mac</a></li></ul></div>
      <div class="col-xs-12 col-md-6">
        <div class="mbr-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27254.16691311106!2d-110.9440635337603!3d31.365301697509334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smx!4v1487290463066" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</section>

<input name="animation" type="hidden">
