.blue-text{
  color : #bfebf6;
}

#actionCalls{
  padding-top: 50px;
  padding-bottom:50px;
}

.badge-header{

    font-size: 60px;
    text-decoration: none;
    color: grey;
    display: block;
    text-align: center;
    padding-bottom : 10px;


}

.calls-title{
  font-weight: bold;
}

.calls-subtitle{
  color: #bcbcbc;
  font-family:'Lora', 'serif';
  margin-bottom: 10px;
}

.shipping-logos{
  padding-top:40px;
}
