<section>


  <nav class="navbar navbar-dropdown navbar-fixed-top black-nav" >
  <div class="container">

    <div class="mbr-table">
      <div class="mbr-table-cell">

        <div class="navbar-brand">
          <a href="https://mobirise.com" class="navbar-logo"><img src="assets/images/logo.png" alt="Mobirise"></a>
          <a class="navbar-caption" href="https://mobirise.com">MOBIRISE</a>
        </div>

      </div>
      <div class="mbr-table-cell">

        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
          <div class="hamburger-icon"></div>
        </button>

        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="https://mobirise.com/">OVERVIEW</a></li><li class="nav-item"><a class="nav-link link" href="https://mobirise.com/">FEATURES</a></li><li class="nav-item"><a class="nav-link link" href="https://mobirise.com/">HELP</a></li><li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="https://mobirise.com/">DOWNLOAD</a></li><li class="nav-item nav-btn"><a class="nav-link btn btn-primary" href="https://mobirise.com/">BUY</a></li></ul>
        <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
          <div class="close-icon"></div>
        </button>

      </div>
    </div>

  </div>
</nav>

</section>
